body {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
}

#left_curtain, #center_curtain, #right_curtain {
	position: absolute;
	width: 640px;
	height: 1080px;
    z-index: 1;
}
#background_stage {
	position: absolute;
	z-index: 0;
    width: 1920px;
    height: 1080px;
}



/*
    These are designed for 1920 x 1080 screens only,
    so I'd suggest just using pixel values so we can
    more accurately align everything to the final
    screen size.
*/

#left_curtain {
    left: 40px;
}

#center_curtain {
	left: 665px;
}

#right_curtain {
	left: 1290px;
}

#left_feet, #center_feet, #right_feet {
    position: absolute;
    z-index: 2;
    border: 1px solid red;
    top: 750px;
}

#left_feet {
    left: 40px;
}

#center_feet {
    left: 665px;
    border-color: green;
}

#right_feet {
    left: 1290px;
    border-color: blue;
}

#left_body, #center_body, #right_body {
    position: absolute;
    z-index: 2;
    border: 1px solid red;
    top: 550px;
    overflow: auto;
}

#left_body {
    left: 40px;
}

#center_body {
    left: 665px;
    border-color: green;
}

#right_body {
    left: 1290px;
    border-color: blue;
}

#left_face, #center_face, #right_face {
    position: absolute;
    z-index: 3;
    border: 1px solid red;
    top: 455px;
    overflow: auto;
}

#left_face {
    left: 40px;
}

#center_face {
    left: 665px;
    border-color: green;
}

#right_face {
    left: 1290px;
    border-color: blue;
}

#left_hat, #center_hat, #right_hat {
    position: absolute;
    z-index: 2;
    border: 1px solid red;
    top: 455px;
    overflow: auto;
}

#left_hat {
    left: 40px;
}

#center_hat {
    left: 665px;
    border-color: green;
}

#right_hat {
    left: 1290px;
    border-color: blue;
}







