body {
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 1920px;
    height: 1080px;
    background-color: blue;
}

#left_curtain, #center_curtain, #right_curtain {
	position: absolute;
	width: 640px;
	height: 1080px;
    z-index: 2;
}
#background_stage {
	position: absolute;
	z-index: 0;
    width: 1920px;
    height: 1080px;
}



/*
    These are designed for 1920 x 1080 screens only,
    so I'd suggest just using pixel values so we can
    more accurately align everything to the final
    screen size.
*/

#left_curtain {
    left: 10px; /*40px*/
}

#center_curtain {
	left: 625px; /*665px*/
}

#right_curtain {
	left: 1250px; /*1290px*/
}

#left_spotlight, #center_spotlight, #right_spotlight {
    position: absolute;
    z-index: 1;
    border: 1px solid red;
    top: 50px;
}

#left_spotlight {
    left: 130px; /*40px*/
}

#center_spotlight {
    left: 747px;
    border-color: green;
}

#right_spotlight{
    left: 1374px;
    border-color: blue;
}

#left_hero, #center_hero, #right_hero {
    position: absolute;
    z-index: 3;
    border: 1px solid red;
    top: 50px;
}

#left_hero {
    left: 149px;
}

#center_hero {
    left: 773px;
    border-color: green;
}

#right_hero {
    left: 1409px;
    border-color: blue;
}

#arrowL1 {
    z-index: 4;
    position: absolute;
    border: 1px solid purple;
    top: 645px; 
    left: 59px;
}


