canvas {
    position: absolute;
    top: 0;
}

#instructionsCanvas {
    z-index: 40;
}
#kinectCanvas {
    z-index: 50;
}

body {
  margin: 0px;
  padding: 0px;
  background-color:rgb(0,0,0)
}
.inactive-canvas {
  pointer-events: none;
}
.active-canvas {
  pointer-events: auto;
}
